<html>
    <head><link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <link rel="icon" href="/img/logo3.PNG" type="image/x-icon";></head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Page Not Found</p>
        </div>

    </body>
        {{>footer}}
</html>