<html>
    <head><link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="icon" href="/img/logo3.PNG" type="image/x-icon";>
    <style>
        table,th,td{
    border: 1px solid rgb(121, 43, 43);
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 10px;
    
    text-align: center;
}
th,td{
    width: 20%;
}

    </style></head>
    <body>
        <div class="main-content">
            {{>header}}
            <p style="text-align: center;font-size:2em;">SESSIONS</p>
           

<div class="session-card" style="margin-top: 200px;">

	<div class="row">
      	
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card middle2">
					<div class="front"
						style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4PqbYU5Z_neyLE76v0zuKUELhQ_uFbVpX2DD6XjmcaHUtXRpC&s');">
						<p style="background-color:#F39C12;text-align:center;color:white;margin-top:50%;font-size:2em">Introduction
							to Lab</p>
					</div>
					<div class="back" style="background-color: #F39C12;">
						<div class="back-content middle2" style="background-color: #F39C12;">
							<p style="color: black;">
			
								In this session we will start with some basics introduction and we will set up a pentesting lab and
								a testing environment for practicing different types of attacks.
							</p>
						</div>
			
					</div>
			
				</div>
			</div>
    			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card middle2">
					<div class="front"
						style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4PqbYU5Z_neyLE76v0zuKUELhQ_uFbVpX2DD6XjmcaHUtXRpC&s');">
						<p style="background-color:#F39C12;text-align:center;color:white;margin-top:50%;font-size:1.45em">Notekeeping and Information gathering or Reconnaissance</p>
					</div>
					<div class="back" style="background-color: #F39C12;">
						<div class="back-content middle2" style="background-color: #F39C12;">
							<p style="color: black;">
			
								In this session we will learn about Notekeeping and different types of footprinting techniques like “How to gather information about any company or any person?” with some basic OSINT. 
							</p>
						</div>
			
					</div>
			
				</div>
			</div>
				<div class="col-md-4 mb-3 mb-md-0">
				<div class="card middle2">
					<div class="front"
						style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4PqbYU5Z_neyLE76v0zuKUELhQ_uFbVpX2DD6XjmcaHUtXRpC&s');">
						<p style="background-color:#F39C12;text-align:center;color:white;margin-top:50%;font-size:1.5em">Scanning and enumeration with scripting</p>
					</div>
					<div class="back" style="background-color: #F39C12;">
						<div class="back-content middle2" style="background-color: #F39C12;">
							<p style="color: black;">
			
								In this session we will learn about enumeration and different tools used for enumeration with some tactics. We will also make a scanning tool using scripting language. 
							</p>
						</div>
			
					</div>
			
				</div>
			</div>
      	<br>
      		<div class="col-md-4 mb-3 mb-md-0">
				<div class="card middle2">
					<div class="front"
						style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4PqbYU5Z_neyLE76v0zuKUELhQ_uFbVpX2DD6XjmcaHUtXRpC&s');">
						<p style="background-color:#F39C12;text-align:center;color:white;margin-top:50%;font-size:1.6em"> Introduction to Machine learning in Cybersecurity</p>
					</div>
					<div class="back" style="background-color: #F39C12;">
						<div class="back-content middle2" style="background-color: #F39C12;">
							<p style="color: black;">
							In this session we will learn about the growing trends of cybersecurity solution in cyber security fields. We will also learn it’s implementations and usage in industry.   
							</p>
						</div>
			
					</div>
			
				</div>
			</div>
    			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card middle2">
					<div class="front"
						style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4PqbYU5Z_neyLE76v0zuKUELhQ_uFbVpX2DD6XjmcaHUtXRpC&s');">
						<p style="background-color:#F39C12;text-align:center;color:white;margin-top:50%;font-size:1.75em">Introduction to capture the flag competitions  </p>
					</div>
					<div class="back" style="background-color: #F39C12;">
						<div class="back-content middle2" style="background-color: #F39C12;">
							<p style="color: black;">
			
								In this session we will start to learn about CTF competitions and different types of sections of CTF’s. 
							</p>
						</div>
			
					</div>
			
				</div>
			</div>
				<div class="col-md-4 mb-3 mb-md-0">
				<div class="card middle2">
					<div class="front"
						style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4PqbYU5Z_neyLE76v0zuKUELhQ_uFbVpX2DD6XjmcaHUtXRpC&s');">
						<p style="background-color:#F39C12;text-align:center;color:white;margin-top:50%;font-size:1.75em">Web Security risks and attacks</p>
					</div>
					<div class="back" style="background-color: #F39C12;">
						<div class="back-content middle2" style="background-color: #F39C12;">
							<p style="color: black;">
			In this session we will learn about different types of web security risks like Sql injection, Ddos, cross site scripting, IDOR etc. 
							</p>
						</div>
			
					</div>
			
				</div>
			</div>
      </div>
	
</div>


            <p style="text-align: center;font-size:2em;">EVENTS</p>
			<br>

 <center>
                <table id="event_table" style="width: 50%;">
                    <col style="width: 100px;">
                    <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th >Event Description</th>
                    </tr>
                    <tr>
                        <td>Junior CTF</td>
                        <td><sup></sup> Feb 2020</td>
                        <td>In the month of feb we will have an intercollege junior ctf with some basic challenges.</td>
                    </tr>
                    <tr>
                        <td>Flagship Event</td>
                        <td><sup></sup>April 2020</td>
                        <td>In the month of april we will have pur flagship event in which inter college teams will participate and compete with with each other to reach a common goal. </td>
                    </tr>
                </table>
            </center>


           
</div>

            
  

    </body>
        {{>footer}}
</html>