<html>
    <head>
		<link rel="icon" href="/img/3.PNG"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/style/small-device.css" />
		<link rel="icon" href="/img/logo3.PNG" type="image/x-icon";> </head>
    <title>Cypher Cell</title>
    <body>
        <div class="main-content">
        {{>header}}
        

		<section>
			<video src="/img/cypher4.mp4" autoplay muted loop style="width: 100%;height:200px"></video>
		</section>
        <p>Ciphercell is an official cybersecurity club of IIIT NR. This club intends to bring general awareness about hacking and to break the stigma surrounding the field, meanwhile educating those who are interested in cybersecurity.</p>
	
        </div>
    </body>
    {{>footer}}
</html>