<html>
    <title>The Team</title>
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body >
        <div class="main-content">
            {{>header}}
            <p style="text-align: center; font-size:2em">Meet The Team</p>
                <section id="section2">
        <div class="">
            <div class="card-wrapper" style="margin-bottom:130px;" >
                <div class="card" style="height: 200px;">
                    
                    <img src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=UeHgnYIAAAAJ&citpid=11" alt="icon of club" class="club-icon">
                    
                    <P class="club-heading">Dr. Ruhul Amin</P>
                    <p class="about-club">Faculty Mentor,<br>CipherCell</p>
                    
                    
                </div>

            </div>


          
            <div class="card-wrapper">

                <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">

                <div class="card" style="margin-top: 30%">
                    
                    <img src="/img/d.jpg" alt="icon of club" class="club-icon">
                    
                    <P class="club-heading">Aman Kumar</P>
                    <p class="about-club">Secretary,<br>CipherCell</p>
                    <a href="https://www.linkedin.com/in/aman-kumar-bharti-40b555183/"id="iconf1"><img src="/img/linkedin.png"></a>
                    
                </div>
               </div>

               <div class="col-md-4 mb-3 mb-md-0">
                <div class="card" id="shivcard" style="margin-top: 30%">

                    
                    <img src="/img/shivansh.jpeg" alt="icon of club" class="club-icon">
                    
                    <P class="club-heading">Shivansh Kumar</P>
                    <p class="about-club">Vice-Secretary,<br>CipherCell</p>
                    <a href="https://www.linkedin.com/in/shivansh-kumar-769507179/" id="iconf1"><img src="/img/linkedin.png"></a>
                    
                </div>
            </div>
                <div class="col-md-4 mb-3 mb-md-0">
                <div class="card" id="samcard" style="margin-top: 30%">
                    
                    <img src="/img/saumya.jpeg" alt="icon of club" class="club-icon">
                    
                    <P class="club-heading">Saumya Bhatnagar</P>
                    <p class="about-club">Web Developer and Coordinator,<br>CipherCell</p>
                    <a href="https://www.linkedin.com/in/saumya-bhatnagar-b54400ba" id="iconf1"><img src="/img/linkedin.png"></a>
                    
                </div>
            </div>
                <div style="margin-top: 20%">
                <div class="col-md-4 mb-3 mb-md-0">
                <div class="card" style="margin-top: 30%">
                    
                    <img src="/img/daksh.jpg" alt="icon of club" class="club-icon">
                   
                    <P class="club-heading">Daksh Singh</P>
                    <p class="about-club">Machine Learning Analyst,<br>CipherCell</p>
                    <a href="" id="iconf1"><img src="/img/linkedin.png"></a>
                   
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card" style="margin-top: 30%">
                    
                    <img src="/img/prince.jpeg" alt="icon of club" class="club-icon">
                  
                    <P class="club-heading">Prince Yadav</P>
                    <p class="about-club">Web Developer,<br>CipherCell</p>
                    <a href="https://www.linkedin.com/in/prince-yadav-a7918b179" id="iconf1"><img src="/img/linkedin.png"></a>
                    
                </div> 
            </div>
            <div class="col-md-4 mb-3 mb-md-0"> 
                <div class="card" style="margin-top: 30%" >
                    
                    <img src="/img/pranav.jpeg" alt="icon of club" class="club-icon">
                   
                    <P class="club-heading">Pranav Kumar</P>
                    <p class="about-club">Marketing Head,<br>CipherCell</p>
                    <a href="http://www.linkedin.com/in/pranav-reddy-329859175" id="iconf1"><img src="/img/linkedin.png"></a>
                 
                </div>
            </div>
        </div>
            </div>

            </div>
        </div>
    </section>



        </div>
        {{>footer}}
    </body>
</html>