<html>
    <title>Team</title>

    <head><link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/logo3.PNG" type="image/x-icon";>
    <style>
        
        table{
            border-color: chartreuse;
            
            text-align: center;
            padding: 10px ;

            border-spacing: 10px;
            margin-top: 20px;
        }
        
    </style>
    </head>
    <body >
        <div class="main-content">
            {{>header}}
            <center><p style="font-size: large;">The Team</p></center>
        </div>
        <table   style="width: 100%;" >
            <tr>
            <td>
                <div class="container">
                <img src="/img/d.jpg" alt="Avatar" class="image">
                <div class="middle">
                <div class="text">Aman Kumar,<br>Secretary,CipherCell</div>
                </div>
                </div>
                </td>
            <td>
                <div class="container">
                    <img src="/img/shivansh.jpeg" alt="Avatar" class="image">
                    <div class="middle">
                    <div class="text">Shivansh Kumar,Vice-Secretary,CipherCell</div>
                    </div>
                </div>
            </td>
<td>
    <div class="container">
        <img src="/img/saumya.jpeg" alt="Avatar" class="image">
        <div class="middle">
            <div class="text">Saumya Bhatnagar,<br>Web Developer and Coordinator,CipherCell</div>
        </div>
    </div>
</td>
<td>
    <div class="container">
        <img src="/img/daksh.jpg" alt="Avatar" class="image">
        <div class="middle">
            <div class="text">Daksh Singh,<br>Cooridnator,CipherCell</div>
        </div>
    </div>
</td>
            </tr>
    <tr style="height: 15px;"></tr>
            <tr style="margin-top: 50px;">
                <td></td>
<td>
    <div class="container">
        <img src="/img/prince.jpeg" alt="Avatar" class="image">
        <div class="middle">
            <div class="text">Prince Yadav,<br>Web Developer,CipherCell</div>
        </div>
    </div>
</td>
                
<td>
    <div class="container">
        <img src="/img/pranav.jpeg" alt="Avatar" class="image">
        <div class="middle">
            <div class="text">Pranav Reddy,<br>Marketing Head,CipherCell</div>
        </div>
    </div>
</td>
                <td></td>
            </tr>
        </table>
        

    </body>
        {{>footer}}
        <script></script>
</html>