<head><link rel="stylesheet" href="./css/style.css"></head>
<footer style="color: white;">
    
    <hr style="color: white;">
    <br>
    Contact Us
    <a target="blank" href="https://www.instagram.com/c1ph3rc3ll/"><img id="iconf1" src="/img/instagram.png" ></a>
    
    <a target="blank" href="http://fb.me/C1ph3rC3ll"><img id="iconf1"  src="/img/facebook.png"></a>
    <a href="mailto:C1ph3rC3ll@gmail.com" target="blank"><img src="/img/gmail.png" id="iconf1"</a>
    <a href="https://www.linkedin.com/company/31088350" target="blank"><img src="/img/linkedin.png" id="iconf1"></a>
</footer>