<head>
  
  <link rel="icon" href="/img/3.PNG">
  <link rel="stylesheet" href="./css/style.css">
<script src="./js/script.js"></script>
</head>


<header style="background-color:black;;width:100%">
  
    <div class="wrap">
   <div class="cube">
     <img src="/img/1.jpg" style="width:60px; height:60px;">
     <img src="/img/1.jpg" style="width:60px; height:60px;">
     <img src="/img/1.jpg" style="width:60px; height:60px;">
     <img src="/img/1.jpg" style="width:60px; height:60px;">
     <img src="/img/1.jpg" style="width:60px; height:60px;">
     <img src="/img/1.jpg" style="width:60px; height:60px;">
   </div>
</div>



    
    <input type="button" value="Home" id="dash_button" onclick="location.href='/'">
    <input type="button" value="About" id="dash_button" onclick="location.href='/about'">
    <input type="button" value="Team" id="dash_button" onclick="location.href='/team'">
    <input type="button" value="Events" id="dash_button" onclick="location.href='/event'">
    <input type="button" value="Blog" id="dash_button" onclick="location.href='/blog'">
   <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqwSrHQvtRyhKYEZEGMm9CRaUZopQUVMVIv0bq5dXaI8IVWA/viewform?usp=sf_link" target="blank">

   <input type="button" value="Register" id="register">
   </a>
   <div id="gsTitle">
	<div class="gsTitle-title"></div>
	<div class="gsTitle-title gsTitle-color gsTitle-a"></div>
	<div class="gsTitle-title gsTitle-color gsTitle-b"></div>
</div>

</header>